:root {
  --mm-p-font-family: 'Open Sans', Sans-serif;
  --mm-heading-font-family: 'Inter', Sans-serif;
  --mm-heading-font-weight: 700;
  --mm-text-color-light: #fff;

  --mm-primary-color: #45ba51;
  --mm-secondary-color: ##919d92;
  --mm-background-color-1a: #18187c;
  --mm-background-color-1b: ##d1d1e5;
  --mm-background-color-2a: #45ba51;
  --mm-background-color-2b: #daf1dc;
}
